 .create-subtitle {
     font-size: 1.5rem;
     color: var(--primary-color);
     line-height: normal;
     margin: 15px 0 15px 0;
 }

 .create-grid {
     display: grid;
     grid-template-columns: repeat(2, auto);
     grid-gap: 20px;
 }


 .span-2 {
     grid-column: span 2;
 }

 .sub-container {
     background-color: var(--bg-color);
     padding: 15px;
 }

 .attr-grid {
     display: grid;
     grid-template-columns: auto auto 40px;
     align-items: center;
     grid-gap: 20px;
 }

 .img-grid {
     display: grid;
     grid-template-columns: auto auto 40px;
     align-items: center;
     grid-gap: 20px;
 }

 .btn-add {
     height: 40px;
     width: 40px;
     margin-top: 8px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .img-container {
     display: flex;
     gap: 20px;
 }

 .img-container img {
     width: 100px;
     height: 100px;
     object-fit: cover;
     margin-right: 10px;
     border-radius: 5px;
 }

 .img-item {
     position: relative;
     max-width: 100px;
     overflow: hidden;
 }

 .img-item p {
     text-align: center;
     text-overflow: ellipsis;
     word-wrap: break-word;
     display: -webkit-box;
     -webkit-line-clamp: 1;
     line-clamp: 1;
     -webkit-box-orient: vertical;
 }

 .img-item span {
     position: absolute;
     top: 4px;
     right: 4px;
     background-color: rgba(var(--info-color-rgb), 0.5);
     color: var(--bg-color);
     border-radius: 50%;
     width: 25px;
     height: 25px;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }

 .btn-center {
     display: flex;
     justify-content: center;
     margin-top: 20px;
 }

 .policies-grid {
     display: grid;
     grid-template-columns: repeat(3, auto);
     grid-gap: 20px;
 }

 .group-policy {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .group-policy div {
     flex-grow: 1;
 }

 .title-3 {
     font-size: 1.1rem;
     color: var(--primary-color);
     line-height: normal;
     margin: 15px 0 15px 0;
 }

 .defined-grid {
     display: grid;
     grid-template-columns: auto 40px;
     align-items: center;
     grid-gap: 20px;
 }

 .container-badge {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     margin-top: 20px;
     gap: 10px;
 }

 .text-badge {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .close-badge {
     cursor: pointer;
 }

 .item-badge {
     display: inline-flex;
     align-items: center;
     user-select: none;
     gap: 20px;
     padding: 5px 10px;
     border-radius: 5px;
     border: 1px solid var(--primary-color);
     background-color: var(--primary-color-light);
 }

 .item-badge:hover {
     border: 1px solid var(--secondary-color);
     color: var(--secondary-color);
 }

 .list-close {
     margin-left: 10px;
     background-color: var(--primary-color-light);
     padding: 2px 8px;
     cursor: pointer;
     border-radius: 50%;
 }

 .list-close:hover {
     background-color: var(--secondary-color);
     color: var(--bg-color);
 }

 @media (max-width: 576px) {
     .span-2 {
         grid-column: 1;
     }

     .create-grid,
     .policies-grid,
     .img-grid,
     .attr-grid,
     .defined-grid {
         grid-template-columns: auto;
     }

     .img-grid .btn-add,
     .attr-grid .btn-add,
     .defined-grid .btn-add {
         margin-top: 0;
         width: 100%;
         margin-bottom: 20px;
     }

     .btn-add {
         margin-top: 0px;
     }
 }

 @media (max-width: 922px) {
     .policies-grid {
         grid-template-columns: auto;
     }
 }