.msg-to-logg{
    background-color: var(--variant-error-light);
    padding: 15px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap:10px;
    margin-bottom:20px;
}

.msg-to-logg p{
    color:var(--variant-error-dark);
}