@import "rsuite/dist/rsuite.css";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
}


:root {
  --primary-color: #545776;
  --primary-color-dark: #383B58;
  --primary-color-light: rgba(84, 87, 118, 0.1);
  --secondary-color: #1DBEB4;
  --info-color: #545776;
  --bg-color: #f9f9f9;
  --variant-error: #FF0000;
  --variant-error-dark: #B00020;
  --variant-error-light: #FFE1E1;
  --border-color: #DFE4EA;

  --breakpoint-xs: 412px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;


  --font-body: 12px;
  /* RGB */
  --info-color-rgb: 84, 87, 118;
  --success-color-rgb: 15, 81, 50;
  --danger-color-rgb: 132, 32, 41;
  --warning-color-rgb: 102, 77, 3;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fc-white {
  color: #fff !important
}

.fc-primary {
  color: var(--primary-color)
}

.fc-secondary {
  color: var(--secondary-color)
}

.fc-primary-dark {
  color: var(--primary-color-dark) !important
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.container-flex-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html,
body,
#root {
  height: 100%
}

h2 {
  font-size: 33px;
  margin-bottom:10px;
}

label {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: var(--primary-color);
}
.required {
  color: var(--variant-error);
}

@media(max-width:430px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
    line-height: 1.1!important;
    margin-bottom: 5px;
  }
}

body:before {
  content: "xs";
  display: none;
  visibility: hidden;
}

@media (min-width: 412px) {
  body:before {
    content: "sm";
  }
}

@media (min-width: 576px) {
  body:before {
    content: "md";
  }
}

@media (min-width: 768px) {
  body:before {
    content: "lg";
  }
}

@media (min-width: 992px) {
  body:before {
    content: "xl";
  }
}

@media (min-width: 1200px) {
  body:before {
    content: "xxl";
  }
}