.text-rate {
    display: flex;
    gap: 5px;
    align-items: flex-end;
    flex-direction: column;
}

.text-rate__number span {
    background-color: var(--primary-color);
    color: #fff;
    padding: 3px 10px;
    border-radius: 10px;
}

.text-rate__string {
    text-align: right;

}

.text-rate__string span {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
}